@font-face {
    font-family: 'proxima_novablack_italic';
    src: url('/public/fonts/proxima_nova_black_it-webfont.eot');
    src: url('/public/fonts/proxima_nova_black_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proxima_nova_black_it-webfont.woff2') format('woff2'),
         url('/public/fonts/proxima_nova_black_it-webfont.woff') format('woff'),
         url('/public/fonts/proxima_nova_black_it-webfont.ttf') format('truetype'),
         url('/public/fonts/proxima_nova_black_it-webfont.svg#proxima_novablack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novablack';
    src: url('/public/fonts/proxima_nova_black-webfont.eot');
    src: url('/public/fonts/proxima_nova_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proxima_nova_black-webfont.woff2') format('woff2'),
         url('/public/fonts/proxima_nova_black-webfont.woff') format('woff'),
         url('/public/fonts/proxima_nova_black-webfont.ttf') format('truetype'),
         url('/public/fonts/proxima_nova_black-webfont.svg#proxima_novablack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgbold_italic';
    src: url('/public/fonts/proxima_nova_bold_it-webfont.eot');
    src: url('/public/fonts/proxima_nova_bold_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proxima_nova_bold_it-webfont.woff2') format('woff2'),
         url('/public/fonts/proxima_nova_bold_it-webfont.woff') format('woff'),
         url('/public/fonts/proxima_nova_bold_it-webfont.ttf') format('truetype'),
         url('/public/fonts/proxima_nova_bold_it-webfont.svg#proxima_nova_rgbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_bold';
    src: url('/public/fonts/proxima_nova_bold-webfont.eot');
    src: url('/public/fonts/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('/public/fonts/proxima_nova_bold-webfont.woff') format('woff'),
         url('/public/fonts/proxima_nova_bold-webfont.ttf') format('truetype'),
         url('/public/fonts/proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 26, 2015 */



@font-face {
    font-family: 'proxima_novalight_italic';
    src: url('/public/fonts/proxima_nova_light_it-webfont.eot');
    src: url('/public/fonts/proxima_nova_light_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proxima_nova_light_it-webfont.woff2') format('woff2'),
         url('/public/fonts/proxima_nova_light_it-webfont.woff') format('woff'),
         url('/public/fonts/proxima_nova_light_it-webfont.ttf') format('truetype'),
         url('/public/fonts/proxima_nova_light_it-webfont.svg#proxima_novalight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novalight';
    src: url('/public/fonts/proxima_nova_light-webfont.eot');
    src: url('/public/fonts/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proxima_nova_light-webfont.woff2') format('woff2'),
         url('/public/fonts/proxima_nova_light-webfont.woff') format('woff'),
         url('/public/fonts/proxima_nova_light-webfont.ttf') format('truetype'),
         url('/public/fonts/proxima_nova_light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('/public/fonts/proxima_nova_reg_it-webfont.eot');
    src: url('/public/fonts/proxima_nova_reg_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proxima_nova_reg_it-webfont.woff2') format('woff2'),
         url('/public/fonts/proxima_nova_reg_it-webfont.woff') format('woff'),
         url('/public/fonts/proxima_nova_reg_it-webfont.ttf') format('truetype'),
         url('/public/fonts/proxima_nova_reg_it-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('/public/fonts/proxima_nova_reg-webfont.eot');
    src: url('/public/fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proxima_nova_reg-webfont.woff2') format('woff2'),
         url('/public/fonts/proxima_nova_reg-webfont.woff') format('woff'),
         url('/public/fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
         url('/public/fonts/proxima_nova_reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 26, 2015 */



@font-face {
    font-family: 'proxima_novablack';
    src: url('/public/fonts/proximanova-black-webfont.eot');
    src: url('/public/fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proximanova-black-webfont.woff2') format('woff2'),
         url('/public/fonts/proximanova-black-webfont.woff') format('woff'),
         url('/public/fonts/proximanova-black-webfont.ttf') format('truetype'),
         url('/public/fonts/proximanova-black-webfont.svg#proxima_novablack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novablack_italic';
    src: url('/public/fonts/proximanova-blackit-webfont.eot');
    src: url('/public/fonts/proximanova-blackit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proximanova-blackit-webfont.woff2') format('woff2'),
         url('/public/fonts/proximanova-blackit-webfont.woff') format('woff'),
         url('/public/fonts/proximanova-blackit-webfont.ttf') format('truetype'),
         url('/public/fonts/proximanova-blackit-webfont.svg#proxima_novablack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('/public/fonts/proximanova-bold-webfont.eot');
    src: url('/public/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('/public/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('/public/fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('/public/fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaextrabold_italic';
    src: url('/public/fonts/proximanova-extrabldit-webfont.eot');
    src: url('/public/fonts/proximanova-extrabldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proximanova-extrabldit-webfont.woff2') format('woff2'),
         url('/public/fonts/proximanova-extrabldit-webfont.woff') format('woff'),
         url('/public/fonts/proximanova-extrabldit-webfont.ttf') format('truetype'),
         url('/public/fonts/proximanova-extrabldit-webfont.svg#proxima_novaextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 26, 2015 */



@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('/public/fonts/proximanova-extrabold-webfont.eot');
    src: url('/public/fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
         url('/public/fonts/proximanova-extrabold-webfont.woff') format('woff'),
         url('/public/fonts/proximanova-extrabold-webfont.ttf') format('truetype'),
         url('/public/fonts/proximanova-extrabold-webfont.svg#proxima_novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novalight';
    src: url('/public/fonts/proximanova-light-webfont.eot');
    src: url('/public/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('/public/fonts/proximanova-light-webfont.woff') format('woff'),
         url('/public/fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('/public/fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novalight_italic';
    src: url('/public/fonts/proximanova-lightitalic-webfont.eot');
    src: url('/public/fonts/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proximanova-lightitalic-webfont.woff2') format('woff2'),
         url('/public/fonts/proximanova-lightitalic-webfont.woff') format('woff'),
         url('/public/fonts/proximanova-lightitalic-webfont.ttf') format('truetype'),
         url('/public/fonts/proximanova-lightitalic-webfont.svg#proxima_novalight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('/public/fonts/proximanova-reg-webfont.eot');
    src: url('/public/fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proximanova-reg-webfont.woff2') format('woff2'),
         url('/public/fonts/proximanova-reg-webfont.woff') format('woff'),
         url('/public/fonts/proximanova-reg-webfont.ttf') format('truetype'),
         url('/public/fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 26, 2015 */



@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('/public/fonts/proximanova-regitalic-webfont.eot');
    src: url('/public/fonts/proximanova-regitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proximanova-regitalic-webfont.woff2') format('woff2'),
         url('/public/fonts/proximanova-regitalic-webfont.woff') format('woff'),
         url('/public/fonts/proximanova-regitalic-webfont.ttf') format('truetype'),
         url('/public/fonts/proximanova-regitalic-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold';
    src: url('/public/fonts/proximanova-sbold-webfont.eot');
    src: url('/public/fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proximanova-sbold-webfont.woff2') format('woff2'),
         url('/public/fonts/proximanova-sbold-webfont.woff') format('woff'),
         url('/public/fonts/proximanova-sbold-webfont.ttf') format('truetype'),
         url('/public/fonts/proximanova-sbold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold_italic';
    src: url('/public/fonts/proximanova-sbolditalic-webfont.eot');
    src: url('/public/fonts/proximanova-sbolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proximanova-sbolditalic-webfont.woff2') format('woff2'),
         url('/public/fonts/proximanova-sbolditalic-webfont.woff') format('woff'),
         url('/public/fonts/proximanova-sbolditalic-webfont.ttf') format('truetype'),
         url('/public/fonts/proximanova-sbolditalic-webfont.svg#proxima_novasemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novathin';
    src: url('/public/fonts/proximanova-thin-webfont.eot');
    src: url('/public/fonts/proximanova-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proximanova-thin-webfont.woff2') format('woff2'),
         url('/public/fonts/proximanova-thin-webfont.woff') format('woff'),
         url('/public/fonts/proximanova-thin-webfont.ttf') format('truetype'),
         url('/public/fonts/proximanova-thin-webfont.svg#proxima_novathin') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 26, 2015 */



@font-face {
    font-family: 'proxima_novathin_italic';
    src: url('/public/fonts/proximanova-thinit-webfont.eot');
    src: url('/public/fonts/proximanova-thinit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/proximanova-thinit-webfont.woff2') format('woff2'),
         url('/public/fonts/proximanova-thinit-webfont.woff') format('woff'),
         url('/public/fonts/proximanova-thinit-webfont.ttf') format('truetype'),
         url('/public/fonts/proximanova-thinit-webfont.svg#proxima_novathin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.bold {
	font-family: 'proxima_nova_bold';
}

.regular {
	font-family: 'proxima_nova_rgregular';
}

.semi-italic {
	font-family: 'proxima_novasemibold_italic';
}

.semi {
	font-family: 'proxima_novasemibold';
}
	
.black {
	font-family: 'proxima_novablack';
}