@import '_fonts';
@import '_elements';

@black: #171717;
@blue: #2c8ccc;
@yellow: #f6bf3a;
@white: #FFF;
@grey: #5e5e5e;
@grey2: #f0f0f0;
@copy-color: #333;
@border-color: #CCC;

*{
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased
}

body {
	font-size: 16px;
	font-family: 'proxima_nova_rgregular';
}

h3.h3, h4.h4 {
	small {
		.regular;
	}
	
	color: @blue;
	.bold;
}

.no-bullets {
	li {
		.perc {
			width: 15px;
			display: inline-block;
		}
		
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	list-style-type: none;
}

.center-list {
	width: 250px;
	margin: 0 auto 20px;
}

.header, .footer {
	.nav {
		li {
			a {
				.bold;
				.transition;
				padding-left: 10px;
				padding-right: 10px;
			}
			margin-left: 2px;
			margin-right: 2px;
		}
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-default .navbar-nav>li>a:not(.navbar-btn) {
		border-bottom: 4px solid transparent;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
		border-color: @yellow;
		color: @white;
		background: none;
	}

	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
		color: @white;
		background-color: transparent;
		border-color: @yellow;
	}

	.navbar {
		margin-bottom: 0;
		background: transparent;
		border: 0;
		margin-top: 20px;

		@media (min-width: 768px) {
			margin-top: 50px;
		}

		&.topnav {
			a small {
				color: @grey;
			}
			li.active a small, li a:hover small {
				color: @white;
			}
			li.active a, li.active a:hover, li a:hover {
				border: 0;

			}
		}

		.navbar-btn {
			background: none;
			border: 1px solid #4a4a4a;
			border-radius: 0;
			display: inline-block;
			padding: 10px 20px;
			margin: 0;
		}
	}
	
	.navbar-right {
		a {
			&:hover, &:focus {
				border: 0 !important;
				color: white !important;
			}
			
			color: #248ed4 !important;
		}
		
		.btn {
			&:hover, &:focus {
				color: #248ed4 !important;
				border: 1px solid white !important;
			}
			color: white !important;
			padding: 15px 20px !important;
			font-size: 16px;
		}
		
		margin-top: -10px;
	}
	
	.navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}

	background: @black;

	.logo {
		background-image: url(../images/logo.svg);
		background-repeat: no-repeat;
		margin: 28px 20px 10px;
		display: block;
		width: 205px;
		height: 52px;
	}
}

/*.container-fluid {
	&.white {
		background: white;
	}
}*/

.page-header {
	margin-top: 0px;
	background: transparent url('/public/images/header-background.jpg') no-repeat bottom center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 523px;
	margin-bottom: 0;

	.container>.row {
		padding-top: 110px;
	}
	.h1 {
		margin-top: 0px;
		color: #FFF;
		font-family: 'proxima_novablack';
		letter-spacing: 1px;

	}	
	p {
		color: #FFF;
	}
	
	.tag-line {
		font-size: 24px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.btn-info {
	background: @blue;
	border-radius: 0;
	border: 0;
	padding: 10px 30px;
}

.btn-outline {
	background: transparent;
	border: 1px solid @blue;
	color: @blue;
}

.form-search {
	.btn, .search {
		height: 65px;
		font-size: 18px;
	}
	.btn {
		width: 150px;
	}
	.search {
		border-radius: 0;
		margin-right: -4px;
		max-width: 490px;
		width: 100%;
		margin: 0 auto;
		border: 0;
		@media (min-width: 768px) {
			width: 490px;
		}
	}
}

.footer {
	background: @black;
	color: #FFF;
	padding-bottom: 40px;

	.copyright {
		display: block;
		padding: 20px;
	}

	.hr {
		border: 0;
		border: 1px solid #3a3a3a;
	}

	.navfooter {
		padding-top: 20px;
		margin-top: 0;
		
		ul {
			text-align: center;
			margin: auto;
			width: 70%;
			float: none;
			li {
				float: none;
				display: block;

				@media (min-width: 768px) {
					display: inline-block;
				}

				&.active a {
					color: @white;
					border: 0 !important;
				}
				a {
					border: 0;
					color: @grey;
					font-size: 14px;
					.regular;
				}
				a:hover {
					color: @white;
					border: 0;
				}
			}
		}
	}
	
	.navbar-brand {
		background-image: url(../images/logo.svg);
		background-repeat: no-repeat;
		margin: 0 20px 10px;
		display: block;
		width: 180px;
		height: 52px;
		display: block;
		padding-top: 0;
		padding-bottom: 0;
		opacity: 0.5;
	}
	
	.social {
		a {
			display: inline-block;
			margin: 0 5px;
		}
	}

	.sub-footer {
		padding-top: 40px;
	}

	.footer-blue {
		background: @blue;
		padding: 25px;
		
		a {
			color: white;
		}
		
		.btn {
			background: transparent;
			border: 1px solid @white;
			margin-left: 20px;
			padding: 10px 20px;
			border-radius: 0;
			display: inline-block;
			color: #FFF;
		}
		
		font-size: 100%;
		.semi;
	}

	.h3 {
		color: #FFF;
	}
	p {
		color: @grey;
		margin-bottom: 0;
	}
}

.section {
	padding: 50px 20px;
	&.section-shaded {
		background: @grey2;
	}
	&.section-top {
		padding-top: 0;
	}
}

.panel.panel-default {
	.h3 {
		font-size: 16px;
		font-family: 'proxima_nova_bold';
	}
	.panel-heading, .panel-footer {
		background: @white;

	}
	.panel-heading {
		border: 0;
	}
	.panel-body {
		min-height: 200px;
		ul {
			margin: 0;
			padding: 0;
			strong {
				display: inline-block;
				margin-left: 20px;
			}
		}
	}
}

.copy {
	color: @copy-color;
}

.slider {

	> div {
		padding: 20px;
		border-left: 1px solid @border-color;
		border-top: 0;
/*		border-left: 0;*/

		&:first-child {
			border-left: 0;
		}
	}

	a {
		text-decoration: none;
		color: #333333;
	}

	.slider-section {
		min-height: 90px;
	}
	.logo {
		&.acc {
			background-image: url(../images/logos/acc.png);
		}
		&.police {
			background-image: url(../images/logos/police.png);
		}
		&.fire {
			background-image: url(../images/logos/fire.png);
		}
		&.ird {
			background-image: url(../images/logos/ird.png);
		}
		width: 190px;
		height: 60px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		display: block;
		margin: 15px auto;
	}
	
	padding-top: 20px;
	padding-bottom: 20px;
}

.circle {

	width: 210px;
	height: 210px;
	border-radius: 50%;
	background: @white;
	padding: 50px 20px;
	margin: 20px auto;

	.number {
		margin-top: 5px;
		font-size: 50px;
		font-family: 'proxima_nova_bold';
	}
	p  {
		font-family: 'proxima_nova_bold';
	}
	.number-orange {
		color: #ffb300;
	}
	.number-lightgreen {
		color: #cee601;
	}
	.number-green {
		color: #67d412;
	}
}

.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }


.page {
	&.home {
		.rating-widget {
			margin: 10px auto;
		}
	}
	
	&.static {
		.content {
			ol, ul {
				li {
					padding: 5px 0;
				}
				padding-left: 20px;
			}
			
			margin-bottom: 80px;
		}
		
		h1 {
			color: @blue;
			.black;
			margin-top: 80px;
			text-transform: uppercase;
		}
		
		h2 {
			color: @blue;
			.bold;
			font-size: 125%;
			margin-bottom: 20px;
		}
		
		

		background: @grey2;
	}
	
	&.police {
		.page-header {
			background-image: url(../images/header-police.jpg);
			min-height: 400px;
		}
		
		#police_station {
			color: @black;
		}
	}
	
	&.feedback-form {
		.rating-container {
			.row {
				margin-bottom: 10px;
			}
		}
	}
}

.tab-container {
	.tab {
		&:first-child {
			border-left: 0;
		}
		
		&.selected {
			border-bottom: 3px solid @blue;
		}
		
		width: 25%;
		text-align: center;
		display: block;
		float: left;
		border: 1px solid #eee;
		border-right: 0;
		border-top: 0;
		box-sizing: border-box;
		padding: 10px;
	}
	
	padding: 0 !important;
}

.icon {
	&.icon-up, &.icon-down {
		width: 13px;
		height: 15px;
		display: inline-block;
		margin: 0 3px;
		background-repeat: no-repeat;
		background-position: bottom;
	}
	
	&.icon-up {
		background-image: url(../images/up.gif);
	}
	
	&.icon-down {
		background-image: url(../images/down.gif);
	}
}

.glyphicon {
	&.glyphicon-star-empty, &.glyphicon-star {
		&:before {
			content: '';
			width: 18px;
			height: 18px;
			background-repeat: no-repeat;
			display: block;
			margin: 0 1px;
			cursor: pointer;
		}
	}
	
	&.glyphicon-star-empty {
		&:before {
			background-image: url(../images/dot-empty.png);
		}
	}
	
	&.glyphicon-star {
		&:before {
			background-image: url(../images/dot-full.png);
		}
	}
}

.form-group {
	label {
		color: @blue;
	}
}

.rating-widget {
	.glyphicon {
		&:before {
			cursor: default !important;
		}
	}
	
	.rating-input-full {
		.inner {
			width: 117px;
			display: block;
			overflow: visible;
		}
		
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
	}
	
	position: relative;
	width: 117px;
}

.login-page {
	.form {
		.form-control {
			display: inline-block;
			width: 25%;
		}
		
/*		button {
			display: block;
		}*/
		
		margin: 20px 0 30px;
	}
}

/* BOOTSTRAP OVERRIDES */
.navbar {
	border-radius: 0;
}


/* RIBBON */
.ribbon-wrapper-yellow {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
  @media (min-width: 768px) {
		display: block;
	}
}

.ribbon-yellow {
  font: bold 15px Sans-Serif;
  color: #171717;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #F7C024;
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}


